.card {
  background-color: var(--mantine-color-body);
}

.sectionCard .imageCard {
  height: 300px;
}

.tableWrapper {
  margin: var(--mantine-spacing-lg);
}

.titleWrapper {
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
  display: inline-grid;
  justify-content: center;
  //text-align: center;
}


@media screen and (max-device-width: 500px) {
  .sectionCard .imageCard {
    height: 200px;
  }
}
