.card {
  background-color: var(--mantine-color-white);
}

.title {
  max-width: 156px;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  padding-left: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  width: 100%;
}

.sectionGroup {
  display: flex;
  justify-content: space-between;
}

.like {
  color: var(--mantine-color-red-6);
  width: 20px;
  height: 20px;
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}